<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.curoa99.sleepless.helper.v2</string>
    <key>CFBundleName</key>
    <string>SleeplessHelper</string>
    <key>CFBundleVersion</key>
    <string>5</string>
    <key>CFBundleShortVersionString</key>
    <string>0.0.5</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>SMAuthorizedClients</key>
    <array>
        <string>identifier "com.curoa99.sleepless" and anchor apple generic and certificate leaf[subject.CN] = "Apple Development: curoa99@gmail.com (N6Z3F7VVZ9)" and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */</string>
    </array>
</dict>
</plist>
